profile          = "training"
region           = "eu-west-3"
vpc_id           = "vpc-xxxxxxxxxxxxxxxxx"
pub1             = "subnet-xxxxxxxxxxxxxxxxx"
pub2             = "subnet-xxxxxxxxxxxxxxxxx"
priv1            = "subnet-xxxxxxxxxxxxxxxxx"
priv2            = "subnet-xxxxxxxxxxxxxxxxx"
ami_id           = "ami-xxxxxxxxxxxxxxxxx"
instance_profile = "EC2SSMProfile"
